opencv-python
numpy
matplotlib
datetime
scipy
ipywidgets
subpixel_edges
argparse
Pillow
pandas
PySide6
glob2
seaborn
statannot
wheel
sympy
psutil
multiprocessing
moviepy
natsort
tqdm